cmd2==2.5.11
datasets==3.2.0
django_haystack==3.3.0
fastapi==0.115.12
flet==0.27.6
fuzzywuzzy==0.18.0
gradio==5.23.3
huggingface_hub>=0.28.1,<0.30
joblib==1.4.2
langchain==0.3.23
langchain_community==0.3.21
numpy==2.2.4
openai==1.71.0
pandas==2.2.3
pdfplumber==0.11.4
persistent==6.1
scikit_learn==1.6.1
sentence_transformers==3.3.1
tiktoken==0.8.0
transaction==5.0
transformers==4.46.3
ZODB==6.0
