datasets==3.2.0
django_haystack==3.3.0
fastapi==0.115.8
gradio==5.14.0
huggingface_hub==0.26.3
joblib==1.4.2
langchain==0.3.17
langchain_community==0.3.16
openai==1.61.0
pandas==2.2.3
pdfplumber==0.11.4
persistent==6.1
pydantic==2.10.6
scikit_learn==1.6.1
tiktoken==0.8.0
transaction==5.0
transformers==4.46.3
ZODB==6.0
fastapi
uvicorn

