cmd2==2.5.11
faiss_cpu==1.10.0
fastapi==0.115.12
flet==0.28.1
httpx==0.28.1
huggingface_hub==0.29.3
numpy==2.2.5
openai==1.78.0
pydantic==2.11.4
pymongo==4.12.1
python_dateutil==2.9.0.post0
sentence_transformers==3.3.1
tiktoken==0.8.0
torch==2.6.0
transformers==4.46.3
uvicorn==0.34.2
